<div class="card">
  <div class="card-body">
    <h4 class="card-title">Jegy adatai</h4>
    <div class="row">
      <div class="col-sm-12 col-md-2">Eladó neve:</div>
      <div class="col-sm-12 col-md-10">{{ticket.seller.name}}</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">Darabszám:</div>
      <div class="col-sm-12 col-md-10">{{ticket.numberOfTickets}} db</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-2">Érvényesség:</div>
      <div class="col-sm-12 col-md-10">{{ticket.bidEndDate}}</div>
    </div>
    <div class="row">
      <div class="col-12"><p class="mt-2">{{ticket.details}}</p></div>
    </div>
  </div>
</div>
