<div class="container">

  <!--Form with header-->
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

    <div class="card-header">
      <div class="bg-light text-center">
        <h3 *ngIf="!event.id; else modify">Új esemény létrehozása</h3>
        <ng-template #modify><h3>Esemeny szerkesztese</h3></ng-template>
      </div>
    </div>

    <div class="card-body">
      <form #eventForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="esemeny">Esemény címe:</label>
          <input type="text" id="esemeny"
                 class="form-control mb-3"
                 placeholder="Esemény címe"
                 required
                 [disabled]="viewForm"
                 [(ngModel)]="event.name" name="name"
                 #name="ngModel"
          >
          <alert type="danger" *ngIf="name.touched && name.invalid">
            Kötelező mező!
          </alert>
        </div>

        <div class="form-group">
          <label for="idopont">Esemény időpontja</label>
          <input type="text" id="idopont"
                 class="form-control mb-3"
                 placeholder="Esemény időpontja"
                 required
                 [disabled]="viewForm"
                 [(ngModel)]="event.date" name="date"
                 #date="ngModel"
          >
          <alert type="danger" *ngIf="date.touched && date.invalid">
            Kötelező mező!
          </alert>
        </div>

        <div class="form-group mt-3">
          <label for="pictureUrl">Válassz képet az eseményhez</label>
          <input type="text" id="pictureUrl"
                 class="form-control mb-3"
                 placeholder="Eseményhez tartozo kep url-je"
                 required
                 [disabled]="viewForm"
                 [(ngModel)]="event.pictureURL" name="picUrl"
                 #picUrl="ngModel"
          >
          <alert type="danger" *ngIf="picUrl.touched && picUrl.invalid">
            Kötelező mező!
          </alert>
        </div>

        <div class="form-group">
          <label for="leiras">Esemény leírása</label>
          <textarea id="leiras"
                    class="form-control"
                    placeholder="Esemény leírása"
                    required
                    [disabled]="viewForm"
                    [(ngModel)]="event.description" name="description"
                    #description="ngModel"
          ></textarea>
          <alert type="danger" *ngIf="description.touched && description.invalid">
            Kötelező mező!
          </alert>
        </div>
        <div class="text-center mb-3">
          <ng-container *ngIf="userService.isLoggedIn$ | async">
            <ng-container *ngIf="viewForm; else editButtons">
              <button type="button"
                      class="btn btn-primary btn-lg"
                      (click)="viewForm = false"
              >Szerkesztes
              </button>
            </ng-container>
            <ng-template #editButtons>
              <button type="submit"
                      class="btn btn-primary btn-lg"
                      [disabled]="eventForm.invalid"
              >Mentés
              </button>
              <button type="button"
                      class="btn btn-danger btn-lg"
                      (click)="delete()"
                      *ngIf="event.id"
              >Törlés
              </button>
            </ng-template>
          </ng-container>
          <button type="button"
                  class="btn btn-primary btn-lg"
                  (click)="navigateBack()"
          >Vissza
          </button>
        </div>
      </form>
    </div>
  </div>

</div>
