<div class="container">

  <!--Form with header-->
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

    <div class="card-header">
      <div class="bg-light text-center">
        <h3 *ngIf="!event.id; else modify">Új esemény létrehozása</h3>
        <ng-template #modify><h3>Esemeny szerkesztese</h3></ng-template>
      </div>
    </div>
    <!--card-body-->
    <div class="card-body">
      <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm.value)">
        <div class="form-group">
          <label for="esemeny">Esemény címe:</label>
          <input type="text" class="form-control mb-3" id="esemeny"
                 placeholder="Esemény címe"
                 required
                 [(ngModel)]="event.name" name="name"
          >
        </div>

        <div class="form-group">
          <label for="idopont">Esemény időpontja</label>
          <input type="text" class="form-control mb-3" id="idopont"
                 placeholder="Esemény időpontja"
                 [(ngModel)]="event.date" name="date"
                 #tyup
          >
          <div>{{ tyup.classList}}</div>
          <hr>
          <div>{{ tyup.className}}</div>
          <hr>
          form summa:
          <div>{{ eventForm.touched }}</div>
        </div>

        <div class="form-group">
          <div class="form-group mt-3">
            <label for="pictureUrl">Válassz képet az eseményhez</label>
            <input type="text" class="form-control mb-3" id="pictureUrl"
                   placeholder="Eseményhez tartozo kep url-je"
                   [(ngModel)]="event.pictureURL" name="picUrl"
            >
          </div>
        </div>

        <div class="form-group">
          <label for="leiras">Esemény leírása</label>
          <textarea class="form-control" placeholder="Esemény leírása"
                    id="leiras"
                    [(ngModel)]="event.description" name="desc"
          ></textarea>
        </div>
        <div class="text-center mb-3">
          <button class="btn btn-primary btn-lg" type="submit"
                  [disabled]="eventForm.invalid"
                  value="létrehozás">
            Save
          </button>

        </div>
      </form>
    </div>
  </div>

</div>
