<app-jumbotron>
  <h1 class="display-4 mb-4">Tudj meg többet Rólunk!</h1>
  <p class="lead">Használd a Jegybazárt és csereberélj jegyeket a legjobb bulikra.
    Elfogyott? Az orrod elől vitték el az utolsót? Ne aggódj, irány a
    JegyBazár!</p>
</app-jumbotron>
<div class="container">

  <div class="row">
    <div class="col align-self-center m-4">
      <img class="img-fluid" src="assets/party.jpg" alt="">
    </div>

    <div class="col align-self-center">
      <h3>Lorem, ipsum dolor</h3><br>
      <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ut ipsam at nisi
        dicta minus optio dolor.</p>
      <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ut ipsam at nisi
        dicta minus optio dolor. Soluta ipsum eligendi, aut magnam, in ipsam, inventore
        magni neque quos veniam rerum!</p>
      <p class="text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing Lorem
        ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  </div>

  <div class="row">
    <div class="col align-self-center m-4">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, qui porro
        deleniti ipsum aperiam placeat officiis neque dolores dolorum! Nihil, aperiam
        maxime quasi deserunt rerum deleniti quaerat. Illo ut unde est voluptates, minus
        laborum ullam quis! Fuga sit facere provident nesciunt quidem inventore
        repellendus amet? Esse ipsum culpa voluptas dicta!</p>
    </div>
  </div>
</div>
