<div class="card mt-2">
  <div class="card-body">
    <h4 class="card-title">Licit adatok
      <app-loading-spinner *ngIf="loading" class="float-right" [loaderWidth]="20"
                           [loaderHeight]="20"></app-loading-spinner>
    </h4>

    <table class="table table-responsive">
      <tbody>
      <tr>
        <th scope="row">Minimum licit:</th>
        <td>{{ticket.minimalBidPrice}} Ft</td>
      </tr>
      <tr>
        <th scope="row">Jelenlegi licit:</th>
        <td>{{ticket.currentBid}} Ft</td>
      </tr>
      <tr>
        <th scope="row">Licitek száma:</th>
        <td>{{ticket.bidCounter}} db</td>
      </tr>
      <tr>
        <th scope="row">Licit lépcső:</th>
        <td>{{ticket.bidStep}} Ft</td>
      </tr>
      <tr>
        <td colspan="2">Licit lejár <strong>{{ticket.bidEndDate | amFromUnix | amTimeAgo}}</strong></td>
      </tr>
      </tbody>
    </table>

    <app-bid-form *ngIf="isLoggedIn" [ticket]="ticket" (bid)="onBidWithBidStep()"></app-bid-form>
  </div>
</div>
