<div class="card mt-2">
  <div class="card-body">
    <h4 class="card-title">Licit adatok</h4>

    <table class="table table-responsive">
      <tbody>
      <tr>
        <th scope="row">Minimum licit:</th>
        <td>{{ticket.minimalBidPrice}} Ft</td>
      </tr>
      <tr>
        <th scope="row">Jelenlegi licit:</th>
        <td>{{ticket.currentBid}} Ft</td>
      </tr>
      <tr>
        <th scope="row">Licitek száma:</th>
        <td>{{ticket.bidCounter}} db</td>
      </tr>
      <tr>
        <th scope="row">Licit lépcső:</th>
        <td>{{ticket.bidStep}} Ft</td>
      </tr>
      <tr>
        <td colspan="2">Licit lejár <strong>{{ticket.bidEndDate | amFromUnix | amTimeAgo}}</strong></td>
      </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-12">
        <a class="btn btn-primary text-light" (click)="onBidWithBidStep()">Licit a lépcső szerint</a>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <input type="number" class="form-control" placeholder="Add meg a licitértékedet"/>
      </div>
      <div class="col-8">
        <button class="btn btn-primary text-light" role="button">Licitálok</button>
      </div>
    </div>
  </div>
</div>
