<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Jegybazár</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link active" href="index.html">Home <span
          class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="esemenyek.html">Események</a>
        <a class="nav-item nav-link" href="jegyek.html">Jegyek</a>
        <a class="nav-item nav-link" href="rolunk.html">Rólunk</a>
        <a class="nav-item nav-link" href="belepes.html">Belépés</a>
      </div>
    </div>
    <form class="form-inline ml-3">
      <a href="regisztracio.html" class="btn btn-sm align-middle btn-primary"
         role="button">Regisztráció</a>
    </form>
  </div>
</nav>
