<div class="row">
  <ng-container *ngIf="ticket">
    <div class="col-sm order-md-2">
      <app-eventcard [esemeny]="ticket.event" nextLabel="Esemény megtekintése"></app-eventcard>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Jegy adatai</h4>
          <div class="row">
            <div class="col-sm-12 col-md-2">Eladó neve:</div>
            <div class="col-sm-12 col-md-10">{{ticket.seller.name}}</div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-2">Darabszám:</div>
            <div class="col-sm-12 col-md-10">{{ticket.numberOfTickets}} db</div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-2">Érvényesség:</div>
            <div class="col-sm-12 col-md-10">{{ticket.date}}</div>
          </div>
          <div class="row">
            <div class="col-12"><p class="mt-2">Lorem ipsum...</p></div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          <h4 class="card-title">Licit adatok</h4>

          <table class="table table-responsive">
            <tbody>
            <tr>
              <th scope="row">Minimum licit:</th>
              <td>{{ticket.minimalBidPrice}} Ft</td>
            </tr>
            <tr>
              <th scope="row">Jelenlegi licit:</th>
              <td>3211 Ft TODO</td>
            </tr>
            <tr>
              <th scope="row">Licitek száma:</th>
              <td>33 db TODO</td>
            </tr>
            <tr>
              <th scope="row">Licit lépcső:</th>
              <td>{{ticket.bidStep}} Ft</td>
            </tr>
            <tr>
              <td colspan="2">Licit lejár <strong>X</strong> nap múlva</td>
            </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-12">
              <a class="btn btn-primary text-light ml-lg-2">Licit a lépcső szerint</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
