<div class="card">
  <div class="card-header">
    Chat ismerősök
  </div>
  <div class="card-body">
    <ng-container *ngIf="friendList$ | async as friendList;else loading">
      <ul class="friend-list">
        <app-chat-friend-row *ngFor="let friend of friendList"
                             [friend]="friend"
                             (select)="onSelectFriend($event)"
        ></app-chat-friend-row>
      </ul>
    </ng-container>
    <ng-template #loading>
      <app-loading-spinner [loaderWidth]="100" [loaderHeight]="100"></app-loading-spinner>
    </ng-template>
  </div>
</div>
