<div class="container">
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

    <div class="card-header">
      <div class="bg-light text-center">
        <h3>Új jegy</h3>
      </div>
    </div>

    <div class="card-body">

      <form #ticketForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="select">Esemény választása</label>
          <select class="form-control" id="select"
                  [(ngModel)]="ticket.eventId"
                  name="eventId"
                  required
          >
            <option selected hidden disabled value="0">Valassz egy esemenyt!</option>
            <option *ngFor="let ev of events" [value]="ev.id">
              {{ ev.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="idopont">Időpont</label>
          <input type="date" class="form-control mb-3" id="idopont"
                 placeholder="időpont"
                 [(ngModel)]="ticket.date" name="date"
          >
        </div>

        <div class="form-group">
          <label for="darab">Darabszám</label>
          <input type="number" class="form-control mb-3" id="darab"
                 placeholder="darabszám"
                 [(ngModel)]="ticket.numberOfTickets" name="numberOfYickets"
          >
        </div>

        <h4 class="my-3">Licit beállítások</h4>

        <div class="form-group">
          <label for="minlicit">Minimum licit érték</label>
          <input type="number" class="form-control mb-3" id="minlicit"
                 placeholder="Minimum licit érték"
                 [(ngModel)]="ticket.minimalBidPrice" name="minimalBidPrice"
          >
        </div>

        <div class="form-group">
          <label for="lepcso">Licit lépcső érték</label>
          <input type="text" class="form-control mb-3" id="lepcso"
                 placeholder="Licit lépcső érték"
                 [(ngModel)]="ticket.bidStep" name="bidStep"
          >
        </div>

        <div class="text-center mb-3">
          <button class="btn btn-primary btn-lg"
                  type="submit"
                  value="Licit indítása"
          >Licit indítása</button>
          <button class="btn btn-secondary btn-lg"
                  type="button"
                  routerLink="../"
          >Mégsem</button>
        </div>

      </form>
    </div>
  </div>
</div>
