<div class="container">

  <div class="row justify-content-center row-login-form mb-5">
    <div class="col-10 col-sm-8 col-md-6">

      <!-- Alert message. -->
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Regelj be és már veheted is a jegyeket.
      </div>

      <div class="card border-secondary">
        <div class="card-header">Regisztráció</div>
        <div class="card-body">
          <form id="registerForm" novalidate>
            <div class="form-group">
              <label for="registerName">Név</label>
              <input required name="registerName" class="form-control"
                     id="registerName" placeholder="név">
            </div>
            <div class="form-group">
              <label for="registerEmail">Email</label>
              <input required name="registerEmail" type="email"
                     class="form-control" id="registerEmail"
                     placeholder="email">
            </div>

            <div class="form-group">
              <label for="birthDate">Születési idő</label>
              <input name="registerBirthDate" type="date"
                     class="form-control" id="birthDate"
                     value="1999-09-10" max="2000-01-01" required>
            </div>

            <div class="form-group">
              <label class="custom-control custom-radio">
                <input id="radio1" name="sex" type="radio" value="1"
                       class="custom-control-input" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">fiú</span>
              </label>
              <label class="custom-control custom-radio">
                <input id="radio2" name="sex" type="radio" value="2"
                       class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">lány</span>
              </label>
            </div>

            <div class="form-group">
              <select name="location" class="custom-select">
                <option value="notset" selected>Milyen településen
                  laksz?
                </option>
                <option value="1">Főváros</option>
                <option value="2">Megyeszékhely</option>
                <option value="3">Kistelepülés</option>
              </select>
            </div>

            <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Válassz
                  avatárt</label>
                <input type="file" class="form-control-file"
                       id="exampleFormControlFile1">
              </div>
            </form>

            <div class="form-group">
              <label for="registerPassword">Jelszó</label>
              <input
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20}"
                required
                title="kis, nagybetű és szám, legalább nyolc karakter hosszan"
                name="registerPassword" type="password"
                class="form-control" id="registerPassword"
                placeholder="jelszó">
            </div>
            <div class="form-group">
              <label for="registerPassword2">Jelszó ismét</label>
              <input name="registerPassword2" required type="password"
                     class="form-control" id="registerPassword2"
                     placeholder="jelszó ismét">
            </div>
            <button type="submit"
                    class="btn btn-primary"
                    routerLink="/user"
            >regisztráció
            </button>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>
