<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Jegybazár</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <app-nav-bar-item url="home" name="Home"></app-nav-bar-item>
        <app-nav-bar-item url="event" name="Események"></app-nav-bar-item>
        <app-nav-bar-item url="ticket" name="Jegyek"></app-nav-bar-item>
        <app-nav-bar-item url="about" name="Rólunk"></app-nav-bar-item>
        <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
          <app-nav-bar-item url="/user/login" name="Belépés"></app-nav-bar-item>
          <a class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
             routerLinkActive="active"
             routerLink="/user/registration"
          >Regisztráció</a>
        </ng-container>
        <ng-template #loggedInBlock>
          <a class="nav-item nav-link tn btn-primary text-light ml-lg-2 btn-sm" routerLinkActive="active" routerLink="/user">Profile</a>
          <a class="nav-item nav-link" routerLinkActive="active"
             (click)="logout()">Logout
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>
