<h3>interpolation</h3>
<p>{{'SIMPLE' | translate}}</p>
<p>{{'WITHVARIABLE' | translate:translateVariable}}</p>
<h3>directives</h3>
<p translate>SIMPLE</p>
<p translate="WITHVARIABLE" [translateParams]="translateVariable"></p>
<alert type="info" *ngIf="updateApp">
  Új verzió került kiadásra, kérlek frissíts az alábbi <a href="#" (click)="updatePwa($event)">linkkel</a>
</alert>
<div class="content-container">
  <app-navbar></app-navbar>

  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
<app-chat *ngIf="isLoggedIn$ | async"></app-chat>
