<div class="container">


  <!--Form with header-->
  <div class="card mb-4 col-11 col-sm-8 mx-auto p-0">

    <div class="card-header">
      <div class="bg-light text-center">
        <h3>Profil módosítása</h3>
      </div>
    </div>

    <div class="card-body">

      <!--card-body-->

      <div class="form-group">
        <label for="nev">Név</label>
        <input type="text" class="form-control mb-3" id="nev" placeholder="név">
      </div>

      <div class="form-group">
        <label for="email">Email cím</label>
        <input type="text" class="form-control mb-3" id="email" placeholder="email cím">
      </div>

      <div class="form-group">
        <label for="szul">Születési idő</label>
        <input type="date" class="form-control mb-3" id="szul" placeholder="születési idő">
      </div>

      <div class="">
        <label class="pr-5">Nemed</label>

        <div class="form-check form-check-inline">
          <label class="form-check-label" for="fiu">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="fiu" value="option1">Fiú
          </label>
        </div>

        <div class="form-check form-check-inline">
          <label class="form-check-label" for="lany">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="lany" value="option2">Lány
          </label>
        </div>

      </div>

      <div class="form-group">
        <label for="text">Település</label>
        <select class="form-control mb-3">
          <option>Főváros</option>
          <option>Nagyváros</option>
          <option>Kistelepülés</option>
        </select>
      </div>

      <div class="form-group">
        <label for="jelszo1">Jelszó</label>
        <input type="password" class="form-control mb-3" id="jelszo1" placeholder="Jelszó">
      </div>

      <div class="form-group">
        <label for="jelszo2">Jelszó ismét</label>
        <input type="password" class="form-control mb-3" id="jelszo2" placeholder="Jelszó ismét">
      </div>

    </div>

    <div class="text-center mb-3">
      <input class="btn btn-primary btn-lg" type="submit" value="mentés"
             routerLink="../"
      >
    </div>

  </div>

</div>
