<div class="card">
  <div class="card-header">
    Chat
  </div>
  <div class="card-body">
    <ul class="chat-messages-list">
      <li class="left clearfix">
        <span class="float-left">
          <img src="assets/chat_user_placeholder.svg" alt="Felhasználó képe" class="user-image rounded-circle">
        </span>
        <div class="clearfix chat-message">
          <div class="chat-message-header">
            <strong>XY user</strong>
            <small class="float-right text-muted">X idővel ezelőtt</small>
          </div>
          <p>Lorem ipsum ... Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum
            ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum
            ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum
            ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...</p>
        </div>
      </li>
      <li class="left clearfix">
        <span class="float-left">
          <img src="assets/chat_user_placeholder.svg" alt="Felhasználó képe" class="user-image rounded-circle">
        </span>
        <div class="clearfix chat-message">
          <div class="chat-message-header">
            <strong>XY user</strong>
            <small class="float-right text-muted">X idővel ezelőtt</small>
          </div>
          <p>Lorem ipsum ... Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum
            ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum
            ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum
            ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...Lorem ipsum ...</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form class="input-group" [formGroup]="form" (ngSubmit)="sendMessage()">
      <input type="text" name="chat-message" formControlName="chat-message"
             class="form-control" placeholder="Üzenet..."
             [ngClass]="{'is-invalid':invalidChatMessageInput}"
             #chatMessageInput
      />
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Küldés</button>
      </span>
    </form>
  </div>
</div>
