:host(.floating) {
  display: block;
  width: 100%;
  max-width: 500px;
  /*height: 100%;*/
  max-height: 450px;

  position: fixed;
  bottom: 4px;
  /* TODO replace to right */
  left: 4px;

  z-index: 9999;
}

:host > .card {
  height: 100%;
  max-height: 450px;
}

.card > .card-body {
  overflow-y: auto;
  padding: 15px;
}

.chat-messages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card-header {
  font-size: 1.6em;
  font-weight: bold;
}
