:host {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 450px;

  position: fixed;
  bottom: 4px;
  /* TODO replace to right */
  left: 4px;

  z-index: 9999;
}

:host > .card {
  height: 100%;
}

.card > .card-body {
  overflow-y: auto;
  height: calc(450px - 49px - 49px);
  padding: 15px;
}

.chat-messages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
