:host {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 450px;

  position: fixed;
  bottom: 4px;
  /* TODO replace to right */
  left: 4px;

  z-index: 9999;
}

:host > .card {
  height: 100%;
}

.card > .card-body {
  overflow-y: auto;
  height: calc(450px - 49px - 49px);
  padding: 15px;
}

.chat-messages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-messages-list > li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat-messages-list > li.left .chat-message {
  margin-left: 60px;
}

.chat-message p {
  margin: 0;
  color: #777;
}

.chat-messages-list > li img.user-image {
  background-color: silver;
  padding: 8px;
}
