:host {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 350px;

  position: fixed;
  bottom: 4px;
  /* TODO replace to right */
  left: 4px;

  z-index: 9999;
}

:host > .card {
  height: 100%;
}
