<div class="index_card text-center">
  <div class="row justify-content-center">
    <img class="card-img-top img-fluid calendar" src="assets/calendar.png"
         alt="Card image cap">
  </div>
  <div class="card-body">
    <h4 class="card-title text-center">Események</h4>
    <p class="index_text card-text">Itt találod a legtöbb jó bulit,
      böngéssz bátran és keress vagy adj el jegyeket a barátaidnak, vagy
      más felhasználóknak.</p>
    <a href="#" class="btn btn-primary index_btn_card">Események</a>
  </div>
</div>
