:host {
  display: list-item;
  width: 100%;

  border-bottom: 1px dotted #B3A9A9;

  padding: 1em;
  cursor: pointer !important;
}

:host(.focused) {
  background-color: RGBA(192, 192, 192, 0.5);
}

.user-image {
  width: 48px;
  height: 48px;
  background-color: transparent;
}

strong {
  margin-left: 60px;
  display: block;
}
